<div class="container">
  <h1>Get in touch</h1>

  <%= render 'form' %>
</div>
<div class="contact-page">
  <%= link_to root_path do %>
   <%= image_tag "contact.jpeg", class: "contact-page" %>
<% end %>

</div>

