
<%= render partial: 'landing_page' %>



<p>Your source for mountain and road bikes on the East Coast. Your one stop shop for evreything bikes. There is a diverse selection of previously owned bikes for sale for both adults and children and the shop provides rentals of hybrid and comfort bikes. Cycle on also provides full bike service, custom bike fitting and tune ups from experienced bike technicians. </p>
