
<div class="container-fluid">
    	<div class="page-header">
  			<h1>User Edit<br>
		</div>

      <%= render 'form', user: @user %>

      <!-- <%= link_to 'Show', @user %> |
      <%= link_to 'Back', users_path %> -->

</div><!-- end container -->
