/* line 5, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
body {
  padding-top: 60px;
}

@media (max-width: 979px) {
  /* line 9, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
  body {
    padding-top: 0px;
  }
}
/* line 14, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
img {
  max-width: 100%;
}

/* line 17, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
h2, h4 {
  text-align: left;
}

/* line 22, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  /* line 33, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
  .preview {
    margin-bottom: 20px;
  }
}
/* line 36, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* line 42, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}

/* line 45, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}

/* line 48, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}

/* line 51, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}

/* line 54, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

/* line 57, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.tab-content {
  overflow: hidden;
}

/* line 59, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

/* line 66, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.card {
  margin-top: 50px;
  background: #ffffff;
  padding: 3em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  /* line 75, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
/* line 82, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 94, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* line 100, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

/* line 104, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.checked, .price span {
  color: #ff9f1a;
}

/* line 107, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px;
}

/* line 110, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.product-title {
  margin-top: 0;
}

/* line 113, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.size {
  margin-right: 10px;
}

/* line 115, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.size:first-of-type {
  margin-left: 40px;
}

/* line 118, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}

/* line 125, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.color:first-of-type {
  margin-left: 20px;
}

/* line 128, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.not-available {
  text-align: center;
  line-height: 2em;
}

/* line 131, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

/* line 136, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.orange {
  background: #ff9f1a;
}

/* line 139, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.green {
  background: #85ad00;
}

/* line 142, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.blue {
  background: #0076ad;
}

/* line 145, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 167, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.field {
  color: black;
}

/* line 171, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.product-reviews {
  text-align: center;
  float: left;
  width: 33.3%;
}

/*create product container */
/* Create three columns of equal width */
/* line 181, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.columns {
  float: left;
  width: 33.3%;
}

/* Style the list */
/* line 188, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.data {
  list-style-type: none;
  border: 1px solid black;
  color: black;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
/* line 199, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.product:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

/* Product header */
/* line 204, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.product .header {
  background-color: #8b9dc3;
  color: #ffffff;
  font-size: 25px;
}

/* List items */
/* line 211, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.product li {
  border: none;
  padding: 10px;
  text-align: center;
  color: black;
}

/* Grey list item */
/* line 219, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.product .action .grey {
  background-color: #eee;
  font-size: 20px;
  color: black;
}

/* The "Sign Up" button */
/* line 227, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.btn-default, .btn-primary {
  background-color: #4099FF;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  /* line 243, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
  .columns {
    width: 100%;
  }
}
/* line 248, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
#header-title {
  text-align: center;
  font-size: 48px;
}

/* line 252, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.productbox {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
}

/* line 259, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.producttitle {
  font-weight: bold;
  padding: 5px 0 5px 0;
  text-align: center;
}

/* line 265, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.productprice {
  border-top: 1px solid #dadada;
  padding-top: 5px;
}

/* line 270, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.thumbnail {
  text-align: left;
  border: 0px;
}

/* line 275, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.product-desc {
  text-align: left;
}

/* line 279, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.product-color {
  text-align: left;
}

/* line 284, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.product > img {
  max-width: 230px;
}

/* line 289, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.content-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 25px;
  border: 0px;
  border-radius: 0px;
}

/* line 297, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.container-fluid {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 302, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.view-wrapper {
  float: right;
  max-width: 70%;
  margin-top: 25px;
}

/* line 308, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/products.scss */
.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}
