/* line 6, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/users.scss */
h1, h2, h3, p {
  text-align: center;
  color: black;
}

/* line 11, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/users.scss */
body {
  padding-top: 65px;
}

@media (max-width: 979px) {
  /* line 15, /Users/ktaylor/Desktop/foundryapp/app/assets/stylesheets/users.scss */
  body {
    padding-top: 0px;
  }
}
