// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-comment {
  margin-top: 4rem;
  padding: 1.5rem 2rem;
  width: auto;
  border: 1px solid rgba(107, 124, 189, 0.7);
  border-radius: 2px;
}

//=========== Rating ================//
.comments-container {
  width: 80%;
  margin: 0 auto;
  float: none;
}

.rated {
  display: inline-block;
  width: 100px;
  margin: 0 0 1rem 0;

  img {
    display: inline-block;
  }
}

.rating {
  display: inline-block;
  width: 100px;
  margin: 1rem 0 0 0;

  img {
    display: inline-block;
  }
}

.highest-rating {
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 0.5rem 0 0.5rem 0;
}

.comment-heading h4 {
  margin: 2rem 0 1rem 1rem;
}

.user-comment {
  padding: 0 1rem;

  hr {
    margin: 1rem 0;
    border-top: 1px solid rgb(204, 204, 204);
  }
}