// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.form-comment {
  margin-top: 4rem;
  padding: 1.5rem 2rem;
  width: auto;
  border: 1px solid rgba(107, 124, 189, 0.7);
  border-radius: 2px;
}

//=========== Rating ================//
.comments-container {
  width: 80%;
  margin: 0 auto;
  float: none;
}

.rated {
  display: inline-block;
  width: 100px;
  margin: 0 0 1rem 0;

  img {
    display: inline-block;
  }
}

.rating {
  display: inline-block;
  width: 100px;
  margin: 1rem 0 0 0;

  img {
    display: inline-block;
  }
}

.highest-rating {
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 0.5rem 0 0.5rem 0;
}

.comment-heading h4 {
  margin: 2rem 0 1rem 1rem;
}

.user-comment {
  padding: 0 1rem;

  hr {
    margin: 1rem 0;
    border-top: 1px solid rgb(204, 204, 204);
    border-top-color: black;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.comment-pagination {
  background: white;
  cursor: default;
  width: auto;
  margin: 0 auto;
  /* self-clearing method: */
}
.comment-pagination a, .comment-pagination span, .comment-pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

.comment-pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.comment-pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #6b7cbd;
  color: white;
  border: 1px solid rgba(107, 124, 189, 0.7);
}

.comment-pagination a {
  text-decoration: none;
  // color: #105cb6;
  border: 1px solid rgba(107, 124, 189, 0.7);
}
.comment-pagination a:hover, .comment-pagination a:focus {
  color: #6b7cbd;
  border-color: #6b7cbd;
}

.comment-pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.comment-pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.comment-pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .comment-pagination {
  height: 1%;
}

*:first-child + html .comment-pagination {
  overflow: hidden;
}
