// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html, body {
  color: #00000;
  margin:0;
  margin-top: -30px;
  height: 100%;
  position: relative;
  font-family: verdana;
}

.site-content {
  padding-bottom: 160px;
}

.form-control {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.form.control button {
  margin-left: -5px;
  height: 26px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 3px;
}

.form.control button:hover {
  background: #0b7dda;
}

.form.control::after {
  content: "";
  clear: both;
  display: table;
}


a {
    text-decoration: none;
    color: black;
}

p > a:hover{
    color: #d9d9d9;
    text-decoration: underline;
}


h1, h2, h4{
  text-align: center;
}

._12 {
    font-size: 1.2em;
}

._14 {
    color: #0000ff;
    font-size: 1.4em;
}

ul {
    padding: 0;
    list-style: none;
}

/*** Carousel ***/

carousel{
    margin-top: 20px;
}


/*** Navigation ***/

.navbar-nav > li {
  float: none;
  display: inline-block;
  height: auto !important;
  }

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 25%;
  padding: 5px;
  width: 25%;
}

.navbar-nav > li.navbar-right {
    float: right !important;
  }

.navbar-collapse ul{
  padding-right: 50px;
}

.navbar-collapse ul li a{
  text-transform: uppercase;
} 

.nav ul li a{
  font-family: Futura, Helvetica, Arial, sans-serif;
}

/** Carousel **/

.img-slider {
  height: 400px;
  width: auto;
}

.inner-item {
    text-align: center;
    img {
        margin: 0 auto;
    }
}

.carousel {
  margin-bottom: 50px;
}


/*** Site Sections ***/

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.proj-title {
  font-weight:100;
  text-align: left;
}

/**Footer **/

.footer {
  bottom: 0;
  width: 100%;
  height: 160px;
  position: fixed;
  text-align: center;
  background-color: #3a3737;
}

.footer p {
  margin: 20px 0;
  color: #ffffff;
}

/*** social media ***/

.footer-social-icons{
    width: 350px;
    display: block;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
}

ul.social-icons{
    margin-top: 10px;
}

.social-icons li{
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a{
    color: #fff;
    text-decoration: none;
}

.fa-facebook{
    padding:10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #3B5998;
}

.fa-facebook:hover{
    background-color: #3d5b99;
}

.fa-twitter{
    padding:10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #4099FF;
}

.fa-twitter:hover{
    background-color: #00aced;
}

.fa-linkedin{
    padding:10px 14px;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #007bb5;
}

.fa-linkedin:hover{
    background-color: #0073a4;
}

.glyphicon:hover{
  color: #0000EE;
}

.fa:hover{
  color: #0000EE;
}
/**tooltip **/

#scm, #spc{
  color: #0000EE;
}

@media (max-width: 767px) {
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Lobster);

/*panel align center*/
.col-centered{
    float: none;
    margin: 0 auto;
    padding-top:5px;
}
/*property for the bootstrap panel*/
.panel  {
-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.panel-default > .panel-heading {
  color: #000 !important;
  background: #80bfff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #80bfff, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #80bfff, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #80bfff, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #80bfff, #ffffff); /* Standard syntax */
  border-color: #99ccff !important;
  height:80px;
}

/*property for the HTML input placeholder*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*property for reset button*/
button[type="reset"]    {
    background-color:transparent;
    border:1px solid black;
}

/*Glyphicon color*/
.blue   {
    color: #80bfff;
}

