
<div class="page-header">
  <h1>Orbit Bikes<br>
  <small>Product Details</small>
</div>


<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
